version: 2

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
    open-pull-requests-limit: 5
    labels:
      - "Type: Dependency Upgrade"
      - "Priority 1: Must"
    milestone: 41
    groups:
      github-dependencies:
        update-types:
          - "patch"
          - "minor"
          - "major"

  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
    open-pull-requests-limit: 5
    labels:
      - "Type: Dependency Upgrade"
      - "Priority 1: Must"
    milestone: 41
    groups:
      maven-dependencies:
        update-types:
          - "patch"
          - "minor"
          - "major"
    ignore:
      - dependency-name: "org.junit:junit-bom"
        versions: [ "[6.0.0,)" ]